@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .h-hero {
    height: 30vh;
    position: relative;
  }
  .max-w-16 {
    max-width: 4rem;
  }
  .max-w-20 {
    max-width: 5rem;
  }
  .max-w-24 {
    max-width: 6rem;
  }
  .img-hero {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
}


body {
  @apply font-sans;
  @apply font-light;
  @apply text-gray-900;
}